:root {
    --primaryColor: #1a8559;
    --secondaryColor: #f4f4f4;
    --bgMenuActive: #294353;
    --bgButton: #1a8559;
    --logoImageUrl: url('/images/logo-w.png');
    --bgAside: var(--primaryColor);
}
