<div class="container my-5">
    <div class="my-5 text-center">
        <h1>Bem-vindo ao Apoi-se</h1>
        <p class="lead">Apoi-se é uma plataforma para apoiar projetos e iniciativas diversas.</p>
    </div>
    <div class="row">
        <h1>Stack tecnológica:</h1>
        <p class="lead">Nossa stack tecnológica é composta por ferramentas modernas e eficientes, que nos permitem desenvolver soluções de alta qualidade e desempenho. </p>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
                    <a href="https://dotnet.microsoft.com/pt-br/download/dotnet/6.0" class="card" target="_blank">
                        <img src="~/images/dotnet.png" class="card-img-top" alt="Trello">
                        <div class="card-body">
                            <p class="card-text">A aplicaçao foi desensolvida em .net core 6.0</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
                    <a href="https://www.mongodb.com/pt-br" class="card" target="_blank">
                        <img src="~/images/mongo.jpg" class="card-img-top" alt="GitHub">
                        <div class="card-body">
                            <p class="card-text">nosso projeto faz uso de m databbase nosql mongodb.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h1>Ferramentas:</h1>
        <p class="lead">Além disso, utilizamos ferramentas como Trello, Slack, GitHub e King Host para gerenciar nossos projetos, manter uma comunicação eficiente e garantir uma hospedagem confiável e segura para nossos clientes.</p>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
                    <a href="https://trello.com/b/IfvGZ5HL/ubiquitous-language" class="card" target="_blank">
                        <img src="~/images/trello-logo.webp" class="card-img-top" alt="Trello">
                        <div class="card-body">
                            <p class="card-text">Acompanhe o andamento do projeto pelo nosso board no Trello.</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
                    <a href="https://github.com/AlanSiqma/linguagem-ubiqua" class="card" target="_blank">
                        <img src="~/images/github-logo.jpg" class="card-img-top" alt="GitHub">
                        <div class="card-body">
                            <p class="card-text">Acesse nosso repositório no GitHub para contribuir com o desenvolvimento do projeto.</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
                    <a href="https://join.slack.com/t/slack-ibr8348/shared_invite/zt-1rddq6vld-yQcgFk~_8fLfKRJO_g0SVg" class="card" target="_blank">
                        <img src="~/images/slack-logo.png" class="card-img-top" alt="Slack">
                        <div class="card-body">
                            <p class="card-text">Participe do nosso canal no Slack para interagir com outros colaboradores.</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
                    <a href="https://king.host?ref=718C4FA0A2F26" class="card" target="_blank">
                        <img src="~/images/kinghost-logo.png" class="card-img-top" alt="KingHost">
                        <div class="card-body">
                            <p class="card-text">Nosso site é hospedado pela KingHost. Confira os serviços que eles oferecem.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div style="text-align:center;">
            <form action="https://pagseguro.uol.com.br/checkout/v2/donation.html" method="post">
                <input type="hidden" name="currency" value="BRL" />
                <input type="hidden" name="receiverEmail" value="alansiqma@gmail.com" />
                <input type="hidden" name="iot" value="button" />
                <input type="image" src="https://stc.pagseguro.uol.com.br/public/img/botoes/doacoes/209x48-doar-cinza-assina.gif" name="submit" alt="Pague com PagBank - é rápido, grátis e seguro!" />
            </form>           
        </div>
    </div>
</div>