@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container my-5">
    <div class="row">
        <div class="col-md-8">
            <h1>Bem-vindo ao Apoi-se</h1>
            <p class="lead">Apoi-se é uma plataforma para apoiar projetos e iniciativas diversas.</p>
            <p>Visite nossos perfis:</p>
            <ul>
                <li><a href="#">Trello</a></li>
                <li><a href="#">GitHub</a></li>
                <li><a href="#">Slack</a></li>
                <li><a href="#">KingHost</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    Fique por dentro!
                </div>
                <div class="card-body">
                    <h5 class="card-title">Assine nossa newsletter</h5>
                    <form>
                        <div class="form-group">
                            <label for="nome">Nome:</label>
                            <input type="text" class="form-control" id="nome" placeholder="Seu nome">
                        </div>
                        <div class="form-group">
                            <label for="email">E-mail:</label>
                            <input type="email" class="form-control" id="email" placeholder="Seu e-mail">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Assinar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
