@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Erro.</h1>
<h2 class="text-danger">Um errro ocorreu enquanto processavamos a sua requisição :(</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

@if (Model.Error != null)
{
    <p>
        <strong>Erro:</strong> <code>@Model.Error.Message</code>
    </p>
}

@if (Model.Error != null && Model.Error.StackTrace != null)
{
    <p>
        <strong>StackTrace:</strong> <code>@Model.Error.StackTrace</code>
    </p>
}