<h1>O Problema</h1>
<h2>Falhas de Comunicação</h2>
<p>
    Se comunicar é um ato considerado algo simples, entretanto, é um processo bem mais complexo do que se pensa, onde podem ocorrer falhas como em qualquer outro processo, mas quando se trata de engenharia, as consequências podem ser significativas. O objetivo deste artigo é apresentar como uma comunicação ineficiente pode trazer graves prejuízos e problemas para a engenharia, seus produtos e clientes. Ao final, espera-se salientar ao leitor como uma boa comunicação é extremamente importante nas organizações para evitar impactos negativos que acarretam perdas de qualidade, financeiras e consequentemente profundo desgaste na relação com clientes.
</p>
<h2>Multiplas linguagens</h2>
<p>
Em um projeto sem uma linguagem comum, os desenvolvedores precisam traduzir para especialistas de domínio.
Especialistas de domínio traduzem entre desenvolvedores e ainda outros especialistas de domínio. Desenvolvedores mesmo
traduzir um para o outro. A tradução confunde os conceitos do modelo, o que leva a
refatoração de código. A indiretividade da comunicação oculta a formação de
cismas — diferentes membros da equipe usam os termos de maneira diferente, mas não percebem isso. Isso leva a não confiável
software que não se encaixa (veja o Capítulo 14). O esforço de tradução impede a interação
de conhecimento e ideias que levam a insights de modelos profundos.</p>


<h1>Sobre</h1>
<p>Dado o tamanho do problema seria imaturo dizer que apenas uma tecnica poderia
soluciona-lo.
O projeto é um dos remedios que deve ser utilizados, e alinhados com outros remedios poderemos minimizar o impacto causado pelo problema relatado
</p>
<h2>Ubiquitous Language</h2>