/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */


body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}


.table {
    text-align: center !important;
}


.btn-site {
    max-width: unset !important;
    width: 100% !important;
    margin-top: 13px;
}

.row-site {
    margin-top: 13px;
}

.logo-site {
    width: 13%;
    margin-right: 50%;
}

.section-3 {
    display: none;
}

@media only screen and (max-width: 770px) {
    .col-section-2 {
        display: none;
    }

    .col-section-1 {
        display: none;
    }

    .section-3 {
        display: unset;
    }

    .section-3-container-img {
        width: 100%;
    }
}
/*jumbotron*/
.autenticacao-jumbotron, .novo-usuario-jumbotron, .create-domain-jumbotron, .edit-domain-jumbotron {
    background-color: #e9ecef;
}

.autenticacao-jumbotron, .novo-usuario-jumbotron {
    margin-top: 10em;
}
/*jumbotron*/
/*Autenticacao, novo-usuario*/
.autenticacao-form-container-div-titulo, .novo-usuario-form-container-div-titulo {
    text-align: center;
}

.autenticacao-form-container-div-conteudo, .novo-usuario-form-container-div-conteudo {
    text-align: center;
}

    .autenticacao-form-container-div-conteudo input, .novo-usuario-form-container-div-conteudo input {
        margin: 0 auto;
        float: none;
        width: 50% !important;
    }

.autenticacao-form-container-div-conteudo-form-group-btn, .novo-usuario-form-container-div-conteudo-form-group-btn {
    max-width: 100% !important;
    width: 50%;
}
/*Autenticacao,novo-usuario*/


.col-md-4{
    margin-top:2%!important;
}
.col-md-12 {
    margin-top: 2% !important;
}

.cursor-pointer{
    cursor:pointer;
}

.img-about {
    width:85%;
    max-width: 100%;
    height: auto;
}

.field-validation-error {
    color: red !important
}