@model Devtoolkit.LinguagemUbiqua.Domain.Dto.UserDto

@{
    ViewData["Title"] = "Lista";
}
<div class="jumbotron jumbotron-fluid novo-usuario-jumbotron">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="container">
            <div class="novo-usuario-form-container-div-titulo">
                <h1 class="display-4">Criar novo usuário</h1>
                <p class="lead">Crie um novo usuário ou clique <a asp-controller="Authentication" asp-action="Index">aqui</a> para autenticar-se</p>
            </div>
            <div class="novo-usuario-form-container-div-conteudo">
                <div class="form-group novo-usuario-form-container-div-conteudo-form-group">
                    <input asp-for="Email" placeholder="Email"  class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group novo-usuario-form-container-div-conteudo-form-group">
                    <input asp-for="Password" type="password" placeholder="Senha"  class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group novo-usuario-form-container-div-conteudo-form-group">
                    <button type="submit" class="btn btn-success btn-lg novo-usuario-form-container-div-conteudo-form-group-btn">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        Salvar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
