@model Devtoolkit.LinguagemUbiqua.Domain.Dto.UserDto
@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">

    <div class="row align-items-center">
        <div class="col-md-6 col-section-1">
            <h4>Grave as palavras de domínio, palavras chaves e suas descrições.</h4>
            <h1 class="display-4">Facilitando assim o entendimento da regra de negócio.</h1>
            <p>Clique  <a asp-controller="User" asp-action="Index">aqui</a> para se registrar na plataforma.</p>

        </div>
        <div class="col-md-6 col-section-2">
            <div class="">
                <div class="embed-responsive">
                    <img src="https://i.pinimg.com/originals/66/83/3e/66833e07d6fb9eb5d724e47d0c814285.gif" alt="gif principal" />
                </div>
            </div>
        </div>

    </div>
</div>
<div class="section-3 ">
    <div class="container">
        <img class="section-3-container-img" src="https://i.pinimg.com/originals/66/83/3e/66833e07d6fb9eb5d724e47d0c814285.gif" alt="gif principal" />
        <h1 class="display-4">Grave as palavras de dominio, palavras chaves, e suas descrições.</h1>
        <h4>Facilitando assim o entendimento da regra de negocio.</h4>
        <p>Clique <a asp-controller="User" asp-action="Index">aqui</a> para se registrar na plataforma.</p>
    </div>
</div>
