{
    ViewData["Title"] = "Privacidade";
}
<h1>Política de Privacidade para linguagem-ubiqua</h1>
<p>No linguagem-ubiqua, acessível <a href="https://ubiquitouslanguage.devtoolkit.com.br">aqui</a>, uma de nossas principais prioridades é a privacidade de nossos visitantes. Este documento de Política de Privacidade contém os tipos de informações que são coletadas e registradas pelo linguagem-ubiqua e como as utilizamos.</p>
<p>Se você tiver dúvidas adicionais ou precisar de mais informações sobre nossa Política de Privacidade, não hesite em nos contatar.</p>
<p>Esta Política de Privacidade se aplica apenas às nossas atividades online e é válida para os visitantes de nosso website no que diz respeito às informações que eles compartilham e/ou coletam no linguagem-ubiqua. Esta política não se aplica a informações coletadas offline ou por meio de canais diferentes deste website.</p>
<h2>Consentimento</h2>
<p>Ao usar nosso website, você consente com nossa Política de Privacidade e concorda com seus termos.</p>
<h2>Informações que coletamos</h2>
<p>As informações pessoais que são solicitadas e os motivos pelos quais são solicitadas serão claros para você no momento em que pedirmos que você forneça suas informações pessoais.</p>
<p>Se você entrar em contato conosco diretamente, podemos receber informações adicionais sobre você, como seu nome, endereço de e-mail, número de telefone, o conteúdo da mensagem e/ou anexos que você possa nos enviar, e qualquer outra informação que você escolha fornecer.</p>
<p>Ao se registrar em uma conta, podemos solicitar suas informações de contato, incluindo itens como nome, nome da empresa, endereço, endereço de e-mail e número de telefone.</p>
<h2>Como usamos suas informações</h2>
<p>Usamos as informações que coletamos de várias maneiras, incluindo para:</p>
<ul>
    <li>Prover, operar e manter nosso website</li>
    <li>Melhorar, personalizar e expandir nosso website</li>
    <li>Entender e analisar como você usa nosso website</li>
    <li>Desenvolver novos produtos, serviços, recursos e funcionalidades</li>
    <li>Comunicar-se com você, direta ou indiretamente, incluindo atendimento ao cliente, fornecer atualizações e outras informações relacionadas ao website, e para fins de marketing e promoção</li>
    <li>Enviar e-mails para você</li>
    <li>Encontrar e prevenir fraudes</li>
</ul>
<h2>Arquivos de registro</h2>
<p>O linguagem-ubiqua segue um procedimento padrão de uso de arquivos de registro. Esses arquivos registram os visitantes quando eles visitam websites. Todos os provedores de hospedagem fazem isso e isso faz parte da análise dos serviços de hospedagem. As informações coletadas pelos arquivos de registro incluem endereços de protocolo de internet (IP), tipo de navegador, Provedor de Serviço de Internet (ISP), data e horário, páginas de referência/saída e possivelmente o número de cliques. Essas informações não estão vinculadas a nenhuma informação que seja pessoalmente identificável. O objetivo das informações é analisar tendências, administrar o site, rastrear o movimento dos usuários no website e reunir informações demográficas.</p>

<h2>Cookies e Web Beacons</h2>
<p>Assim como qualquer outro website, o linguagem-ubiqua utiliza 'cookies'. Esses cookies são usados para armazenar informações, incluindo as preferências dos visitantes e as páginas do website que o visitante acessou ou visitou. As informações são utilizadas para otimizar a experiência dos usuários, personalizando o conteúdo de nossas páginas da web com base no tipo de navegador dos visitantes e/ou outras informações.</p>
<h2>Políticas de Privacidade de Parceiros de Publicidade</h2>
<P>Você pode consultar esta lista para encontrar a Política de Privacidade de cada um dos parceiros de publicidade do linguagem-ubiqua.</p>
<p>Servidores de anúncios de terceiros ou redes de anúncios utilizam tecnologias como cookies, JavaScript ou Web Beacons que são utilizados em seus respectivos anúncios e links que aparecem no linguagem-ubiqua, sendo enviados diretamente para o navegador dos usuários. Eles recebem automaticamente o seu endereço IP quando isso ocorre. Essas tecnologias são usadas para medir a eficácia de suas campanhas publicitárias e/ou para personalizar o conteúdo publicitário que você vê nos websites que visita.</p>
<p>Observe que o linguagem-ubiqua não tem acesso nem controle sobre esses cookies que são usados por anunciantes de terceiros.</p>
<h2>Políticas de Privacidade de Terceiros</h2>
<p>A Política de Privacidade do linguagem-ubiqua não se aplica a outros anunciantes ou websites. Portanto, recomendamos que você consulte as respectivas Políticas de Privacidade desses servidores de anúncios de terceiros para obter informações mais detalhadas. Isso pode incluir suas práticas e instruções sobre como desativar determinadas opções.</p>
<p>Você pode optar por desativar os cookies por meio das opções individuais do seu navegador. Para saber informações mais detalhadas sobre o gerenciamento de cookies em navegadores específicos, você pode encontrá-las nos respectivos websites dos navegadores.</p>
<h2>Direitos de Privacidade da CCPA (Não Venda Minhas Informações Pessoais)</h2>
<p>De acordo com a CCPA (Lei de Privacidade do Consumidor da Califórnia), entre outros direitos, os consumidores da Califórnia têm o direito de:</p>
<p>Solicitar que uma empresa que coleta os dados pessoais de um consumidor divulgue as categorias e as informações pessoais específicas que a empresa coletou sobre os consumidores.</p>
<p>Solicitar que uma empresa exclua quaisquer dados pessoais sobre o consumidor que a empresa tenha coletado.</p>
<p>Solicitar que uma empresa que vende os dados pessoais de um consumidor não venda os dados pessoais do consumidor.</p>
<p>Se você fizer uma solicitação, temos um mês para responder. Se você deseja exercer qualquer um desses direitos, entre em contato conosco.</p>

<h2>Direitos de Proteção de Dados do GDPR</h2>
<p>Gostaríamos de garantir que você esteja totalmente ciente de todos os seus direitos de proteção de dados. Todo usuário tem direito ao seguinte:</p>
<p>O direito de acesso - Você tem o direito de solicitar cópias dos seus dados pessoais. Podemos cobrar uma pequena taxa por esse serviço.</p>
<p>O direito de retificação - Você tem o direito de solicitar a correção de qualquer informação que você acredite estar imprecisa. Você também tem o direito de solicitar que completemos as informações que você acredita estar incompletas.</p>
<p>O direito ao apagamento - Você tem o direito de solicitar que apaguemos seus dados pessoais, sob certas condições.</p>
<p>O direito de restringir o processamento - Você tem o direito de solicitar que restrinjamos o processamento de seus dados pessoais, sob certas condições.</p>
<p>O direito de se opor ao processamento - Você tem o direito de se opor ao nosso processamento de seus dados pessoais, sob certas condições.</p>
<p>O direito à portabilidade de dados - Você tem o direito de solicitar que transfiramos os dados que coletamos para outra organização, ou diretamente para você, sob certas condições.</p>
<p>Se você fizer uma solicitação, temos um mês para responder. Se você deseja exercer qualquer um desses direitos, entre em contato conosco.</p>
<h2>Informações para Crianças</h2>
<p>Outra parte de nossa prioridade é adicionar proteção para crianças ao usar a internet. Encorajamos os pais e responsáveis a observar, participar e/ou monitorar e orientar a atividade online de seus filhos.</p>
<p>O linguagem-ubiqua não coleta conscientemente nenhuma Informação Pessoal Identificável de crianças menores de 13 anos. Se você acredita que seu filho forneceu esse tipo de informação em nosso website, recomendamos fortemente que você entre em contato conosco imediatamente e faremos o possível para remover prontamente essas informações de nossos registros.</p>