@model ToolBoxDeveloper.DomainContext.Domain.Dto.DomainContextDto


<div class="row">
    <div class="col-md-4">
        <label asp-for="Organization" class="control-label"></label>
        <span class="cursor-pointer" data-container="body" data-toggle="popover" data-placement="top" data-content="Nome da Empresa"> ℹ</span>
        <input asp-for="Organization" placeholder="Scenic Solutions" class="form-control" />
        <span asp-validation-for="Organization" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label asp-for="Domain" class="control-label"></label>
        <span class="cursor-pointer" data-container="body" data-toggle="popover" data-placement="top" data-content="Nome do Projeto"> ℹ</span>
        <input asp-for="Domain" placeholder="Nome do projeto" class="form-control" title="" />
        <span asp-validation-for="Domain" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label asp-for="Context" class="control-label"></label>
        <span class="cursor-pointer" data-container="body" data-toggle="popover" data-placement="top" data-content="Contexto/Departartamento no qual a palavra chave faz parte"> ℹ</span>
        <input asp-for="Context" placeholder="Vendas/Compras" class="form-control" />
        <span asp-validation-for="Context" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label asp-for="Key" class="control-label"></label>
        <span class="cursor-pointer" data-container="body" data-toggle="popover" data-placement="top" data-content="Palavra chave/abreviação/sinônimo"> ℹ</span>
        <input asp-for="Key" placeholder="Context" class="form-control" />
        <span asp-validation-for="Key" class="text-danger"></span>
    </div>
</div>
<div class="row row-site">
    <div class="col-md-12">

        <label asp-for="Description" class="control-label"></label>
        <span class="cursor-pointer" data-container="body" data-toggle="popover" data-placement="top" data-content="Valor da chave informada no campo anterior"> ℹ</span>

        <textarea asp-for="Description" placeholder="Context significa contexto" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
</div>
<div class="row row-site">
    <div class="col-md-4">
        <a asp-action="Index" class="btn btn-info btn-site">
            <i class="fa fa-backward" aria-hidden="true"></i>
            Voltar
        </a>
    </div>
    <div class="col-md-4">
        <button type="submit" class="btn btn-success btn-site">
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
            Salvar
        </button>
    </div>
</div>
