@model ToolBoxDeveloper.DomainContext.Domain.Dto.DomainContextDto
<h1>Criar novo Dominio</h1>
<hr />
<div class="container">
    <message></message>
</div>
<div class="jumbotron create-domain-jumbotron">
    <form asp-action="Create">
        <partial name="_CreateOrEdit" />
    </form>
</div>
