@model ToolBoxDeveloper.DomainContext.Domain.Dto.DomainContextDto
<h1>Editar Dominio</h1>
<hr />

<div class="jumbotron edit-domain-jumbotron">
    <form asp-action="Edit">
        @Html.ValidationMessage("ModelOnly")
        @Html.ValidationSummary(true)
        @Html.HiddenFor(x => x.UserRegister)
        @Html.HiddenFor(x => x.Id)
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <partial name="_CreateOrEdit" />
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
    }