@model ToolBoxDeveloper.DomainContext.Domain.Dto.DomainContextDto
<h1>Editar Dominio</h1>
<hr />
<div class="container">
    <message></message>
</div>
<div class="jumbotron edit-domain-jumbotron">
    <form asp-action="Edit">
        @Html.HiddenFor(x => x.Id)
        <partial name="_CreateOrEdit" />
    </form>
</div>
